@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display font-bold leading-none;
  }

  h1 {
    @apply text-5xl md:text-6xl lg:text-7xl;
  }

  h2 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }

  h3 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }

  h4 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h5 {
    @apply text-2xl;
  }

  h6 {
    @apply text-xl;
  }

  body {
    @apply text-lg font-body;
  }

  button {
    @apply text-2xl font-display font-bold uppercase py-4;
  }

  .caption {
    @apply text-xs font-body font-bold uppercase text-gray-500;
  }

  a,
  svg {
    @apply transition-colors duration-200;
  }
}

body[class*="fp-viewing-spaces-"],
.fp-viewing-landing,
.fp-viewing-contact {
  #fp-nav ul li a span {
    background: white;
  }
}

$spaceFromWindow: 4rem;
$arrowThickness: 6px;
$arrowSize: 0.75rem;

.fp-controlArrow {
  top: 55% !important;

  border: solid #03090f !important;
  border-width: 0 $arrowThickness $arrowThickness 0 !important;
  padding: $arrowSize;
  opacity: 50%;

  &.fp-prev {
    left: $spaceFromWindow !important;
    transform: rotate(135deg) !important;
    -webkit-transform: rotate(135deg) !important;
  }
  &.fp-next {
    right: $spaceFromWindow !important;
    transform: rotate(-45deg) !important;
    -webkit-transform: rotate(-45deg) !important;
  }
}
